/* first CSS 08-55-20-09-21 */
div { 
            width: 500px; 
            padding: 20px; 
            border: 1px solid green; 
            margin: 0 auto; 
            text-align: justify;
} 
.header {
            color: blue; 
            font-size: 18px; 
            font-weight: bold; 
 }
span {
            font-style: italic; 
} 
#anchor {
			color: green;
			font-weight: bold;
}